# Lab 1: Welcome to Python!

## Goals
Welcome to your first lab session! In this lab, you will gain hands-on experience with Python programming and learn how Python is used in Data Science.

The first goal of this lab is to ensure that your Python 3 environment is set up correctly and running without issues. If you encounter any problems, please let the tutor know.

This lab will also introduce you to writing your first Python programs, using both scripts and the interactive environment, and applying Python to work with real datasets.

In addition to basic Python concepts, you will begin using Python for basic data analysis tasks, such as loading data, exploring datasets, and performing simple operations that are common in Data Science workflows.

Even if some tasks seem simple, please complete them carefully, as they form the foundation for future labs.

As always, have fun and enjoy the rest of the class period!

## Submission

Name your Jupyter notebook `Group{group number}_week{number}.ipynb`. For example: Group1_week2.ipybn/pdf

## Let's get started!

## Part 1: Basic Python programming

### Loop

**Exercise 1:** Print First 10 natural numbers using while loop

**Expected output:**
````
0
1
2
3
4
5
6
7
8
9
10
````

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### String

**Exercise 2**: Given 2 strings, s1 and s2, concat 2 strings
Given:
````
s1 = "Hello"
s2 = "World"
````
**Expected Output:**
````
    Hello World

````

In [1]:
s1 = "Hello"
s2 = "World"
print(s1 + " " + s2)

Hello World

**Exercise 3**: Removal all the characters other than integers from string
Given:
````
````
**Expected Output:**
````
2510
````
**Hint: 
- list comprehension,
- Join(),
- isdigit()

In [ ]:
string = "I am 25 years and 10 months old"
result =""
for i in string:
    if i.isdigit():
        result += i
print(result)

2510

### Tuple

**Exercise 4**: Create a tuple with single item 50

In [9]:
items = ()
for i in range(50):
    items+=(i,)
    
print(items)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49)

**Exercise 4**: Unpack the following tuple into 4 variables
````
aTuple = (10, 20, 30, 40)
````

**Expected output:**

````
aTuple = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40
````

In [10]:
aTuple = (10, 20, 30, 40)
(a, b, c, d) = aTuple
print(a)    
print(b)    
print(c)    
print(d)

10
20
30
40

**Exercise 5**: Swap the following two tuples
````
tuple1 = (11, 22)
tuple2 = (99, 88)
````
**Expected output:**
````
tuple1 = (99, 88)
tuple2 = (11, 22)
````

In [11]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tempTuple = tuple1
tuple1 = tuple2
tuple2 = tempTuple
print("tuple1:", tuple1)
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

### Set

**Exercise 6**: Add a list of elements to a given set
````
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
````
**Expected output:**

In set item order is not a concern
````
{'Green', 'Yellow', 'Black', 'Orange', 'Red', 'Blue'}
````
**Hint: use update()

In [12]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]
sampleSet.update(sampleList)
print(sampleSet)

{'Green', 'Black', 'Orange', 'Yellow', 'Red', 'Blue'}

**Exercise 7**: Returns a new set with all items from both sets by removing duplicates
````
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
````
**Expected output:**

````
{70, 40, 10, 50, 20, 60, 30}
````
Remember set is unordered so not necessary this will be the order of the item.

In [16]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

### Dictionaries

**Exercise 8**: Below are the two lists convert it into the dictionary
````
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
````
**Expected output:**

````
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}````

In [18]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
sampleDict = dict(zip(keys, values))
print(sampleDict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Exercise 9**: Merge following two Python dictionaries into one
````
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
````
**Expected output:**

````
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
````

In [24]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 = dict1
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Mixed parts

**Exercise 10:** Write a loop to find the factorial of any number
The factorial (symbol: !) means to multiply all whole numbers from our chosen number down to 1.

**For example:** calculate the factorial of 5

5! = 5 × 4 × 3 × 2 × 1 = 120

**Expected output:**
````
120
````

In [ ]:
def factorial(n):
    result=1
    while n > 1:
        result *=n
        n -=1
    return result
print(factorial(5))

120

**Exercise 11:** Reverse a given integer number
Given:
````
76542
````

**Expected output:**
````
24567
````

In [3]:
number = 76542
reversed_number = str(number)[::-1]
print(int(reversed_number))

24567

**Exercise 12:** Find the sum of the series 2 +22 + 222 + 2222 + .. n terms

Given:
````
number_of_terms = 5
````
So series will become 2 + 22 + 222 + 2222 + 22222

**Expected output:**
````
24690
````

In [19]:
result =0
previous = 0
for i in range (5):
    sum = (2*10**i)+previous
    previous = sum
    result +=sum
    
print(result)
# 22 = 2 * 10**1 +2
# 222 = 2*10**2 + 22

24690

**Exercise 13:** Create a function that can accept two arguments name and age and print its value

In [20]:
def user(name:str,age:int):
    print("Name:",name)
    print("Age:",age)
user("Sok",30)

Name: Sok
Age: 30

**Exercise 14:** Write a function func1() such that it can accept a variable length of  argument and print all arguments value
````
func1(20, 40, 60)
func1(80, 100)
````

**Expected Output:**

After func1(20, 40, 60):
````
20
40
60
````

After func1(80, 100):
````
80
100
````

In [21]:
def func1(*numbers):
    for number in numbers:
        print(number)
func1(20, 40, 60)
func1(80, 100)

20
40
60
80
100

**Exercise 15:** Create a function showEmployee() in such a way that it should accept employee name, and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

**Expected Output:**
````
showEmployee("Ben", 9000)
showEmployee("Ben")
````

Should Produce:
````
Employee Ben salary is: 9000
Employee Ben salary is: 9000
````

In [22]:
def showEmployee(name, salary=9000):
    print("Employee", name, "salary is:", salary)
showEmployee("Ben", 9000)
showEmployee("Ben")

Employee Ben salary is: 9000
Employee Ben salary is: 9000

**Exercise 16:** Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum

Given:

````
number1 = 20
number2 = 30
````

Expected Output:

`````
The result is 600
````
Given:
````
number1 = 40
number2 = 30
````
Expected Output:
````
The result is 70
````

In [23]:

def calculate(number1,number2):
    if(number1*number2>1000):
        return number1+number2
    return number1*number2

print(calculate(20,30))
print(calculate(40,30))

600
70

**Exercise 17**: Given a two list of equal size create a set such that it shows the element from both lists in the pair

**Expected Output:**
````
First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}
````
**Hint: use zip()

In [25]:
numbers1 = [2, 3, 4, 5, 6, 7, 8]
numbers2 = [4, 9, 16, 25, 36, 49, 64]
numbers = dict(zip(numbers1, numbers2))
print(numbers)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

**Exercise 18:** Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number

Reference article for help:
- [Python range() function](https://pynative.com/python-range-function/)
- [Calculate sum and average in Python](https://pynative.com/python-program-to-calculate-sum-and-average-of-numbers/)

**Expected Output:**
````
Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
````

In [28]:
previous = 0
sum =0
for i in range(10):
    sum =previous + i
    print(f"Current Number {i} Previous Number {previous} Sum:  {sum}")
    previous = i

Current Number 0 Previous Number 0 Sum:  0
Current Number 1 Previous Number 0 Sum:  1
Current Number 2 Previous Number 1 Sum:  3
Current Number 3 Previous Number 2 Sum:  5
Current Number 4 Previous Number 3 Sum:  7
Current Number 5 Previous Number 4 Sum:  9
Current Number 6 Previous Number 5 Sum:  11
Current Number 7 Previous Number 6 Sum:  13
Current Number 8 Previous Number 7 Sum:  15
Current Number 9 Previous Number 8 Sum:  17

**Exercise 19**: Delete set of keys from Python Dictionary
Given:
````
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = ["name", "salary"]
````
**Expected output:**

````
{'city': 'New york', 'age': 25}
````

In [29]:
sampleDict = {
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New york"
}
keysToRemove = ["name", "salary"]
for key in keysToRemove:
    sampleDict.pop(key)
print(sampleDict)

{'age': 25, 'city': 'New york'}

**Exercise 20:** Given a string, display only those characters which are present at an even index number.
For example str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

Reference article for help: Python Input and Output

**Expected Output:**
````
Orginal String is  pynative
Printing only even index chars
p
n
t
v
````

In [30]:
string = "pynative"
for i in range(string.__len__()):
    if i%2==0:
        print(string[i])

p
n
t
v

**Exercise 21:** Given a list of numbers, return True if first and last number of a list is same

**Expected Output:**
````
Given list is  [10, 20, 30, 40, 10]
result is True
Given list is  [10, 20, 30, 40, 50]
result is False
````

In [33]:
def isNotSort(list):
    return list != sorted(list)
print(isNotSort([10, 20, 30, 40, 10]))
print(isNotSort([10, 20, 30, 40, 50]))

True
False

**Exercise 22:** Given a list of numbers, Iterate it and print only those numbers which are divisible of 5

**Expected Output:**
````
Given list is  [10, 20, 33, 46, 55]
Divisible of 5 in a list
10
20
55
````

In [35]:
numbers =  [10, 20, 33, 46, 55]
for num in numbers:
    if num %5 ==0:
        print(f"{num}")

10
20
55

**Exercise 23:** Return the total count of sub-string “Emma” appears in the given string

Given string is “Emma is good developer. Emma is a writer”

**Expected Output:**
````
Emma appeared 2 times
````

In [38]:
sentences = "Emma is good developer. Emma is a writer"
word = "Emma"
count = sentences.count(word)
print(f"{word} appeared {count} times.")

Emma appeared 2 times.

**Exercise 24:** Print the following pattern
````
1 
2 2 
3 3 3 
4 4 4 4 
5 5 5 5 5
````

In [45]:
for i in range(1,6):
    for j in range(i):
        print(i,' ', end="")
    print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

**Exercise 25:** Print downward Half-Pyramid Pattern with Star (asterisk)

````
* * * * *  
* * * *  
* * *  
* *  
*
````

In [ ]:
for i in range(5, 0, -1):
    for j in range(i):
        print(i,' ', end="")
    print()

5  5  5  5  5
4  4  4  4
3  3  3
2  2
1

**Exercise 26:** Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
Note here exp is a non-negative integer, and the base is an integer.

**Expected Output:**

Case 1:

base = 2
exponent = 5

2 raises to the power of 5 is: 32 i.e. (2 *2 * 2 *2 *2 = 32)

Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 i.e. (5 *5 * 5 *5 = 625)

In [54]:
def expo(base, exp):
    result =1
    for i in range (exp):
        result *=base
    return result
print(expo(2,5))
print(expo(5,4))

32
625

## Part 2: Python for Data science

import pandas as pd

df = pd.read_csv("data.csv")
df.head()

**Discussion 1**:
````
1. Why do we load data instead of typing it manually?
- load data is saving time easy to handle with large dataset.
2. What does each row represent?
- one data entry
3. What does each column represent?
- One attribute describing the data.
4. Why do we look at the first few rows?
- To quickly understand the structure and find issus
````

In [7]:
import pandas as pd
df = pd.read_csv('users.csv')
# df.head()
# df.shape
df.columns

Index(['fname', 'lname', 'address', 'dob', 'phoneNum', 'pw', 'nationCard',
       'loanKHR', 'loanUSD', 'totalKHR', 'totalUSD'],
      dtype='str')

**Discussion 2**:
````
1.What does one row represent in this dataset?
- A single record.
2. What does one column represent?
- A attribute of the data.
3. Why is it important to know the number of rows and columns before analysis?
-To understand dataset size and prepare plan processing
4. How many observations are in the dataset?
100
5. Which columns are numeric? Which are categorical?
````

In [8]:
df.dtypes
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fname       1000 non-null   str
 1   lname       1000 non-null   str
 2   address     1000 non-null   str
 3   dob         1000 non-null   str
 4   phoneNum    1000 non-null   int64
 5   pw          1000 non-null   str
 6   nationCard  1000 non-null   int64
 7   loanKHR     1000 non-null   int64
 8   loanUSD     1000 non-null   int64
 9   totalKHR    1000 non-null   int64
 10  totalUSD    1000 non-null   int64
dtypes: int64(6), str(5)
memory usage: 86.1 KB

**Discussion 3**:
````
1. Why is knowing data types important in data analysis?
- Knowing data types ensures correct analysis, calculations, and model selection.
2. What problems can happen if data types are incorrect?
- Incorrect data types cause wrong calculations, errors results.
3. Are there any missing values?
4. Which columns might need cleaning?
- Columns with missing values, inconsistent formats,
````

In [ ]:
df.describe()

**Discussion 4**:
````
1. What does average (mean) tell us about data?
- average shows the central value of the data.
2. Why might min and max be misleading sometimes?
- because outliers can distort the range
3. Which variable has the highest average?
- the one with the largest mean value in the dataset
4. Are there any unusual values?
````

In [ ]:
df_filtered = df[df["age"] > 0]
df_filtered.shape

**Discussion 5**:
````
1. Why might we want to remove some rows from a dataset?
- To remove errors, duplicates, or corrupted data would distort analysis
2. What is the difference between cleaning data and losing data?
-Cleaning data removes incorrect or unusable values
-losing data means removing valid information unnecessarily.
3. How many rows were removed?
````